/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Paths ------------------------------------ */
/* !-- Fonts ------------------------------------ */
/* line 17, ../sass/components/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, ../sass/components/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

/* line 40, ../sass/components/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 46, ../sass/components/_reset.scss */
img {
  line-height: 0;
  vertical-align: middle;
}

/* line 48, ../sass/components/_reset.scss */
nav ul {
  list-style: none;
}

/* line 50, ../sass/components/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 53, ../sass/components/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 55, ../sass/components/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 57, ../sass/components/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 59, ../sass/components/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 61, ../sass/components/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 63, ../sass/components/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 66, ../sass/components/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 68, ../sass/components/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 70, ../sass/components/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 83, ../sass/components/_reset.scss */
body {
  -webkit-overflow-scrolling: touch;
}

/* line 85, ../sass/components/_reset.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 90, ../sass/components/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 98, ../sass/components/_reset.scss */
body, select, input, textarea {
  color: #444;
}

/* line 107, ../sass/components/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 110, ../sass/components/_reset.scss */
html {
  overflow-y: scroll;
}

/* line 114, ../sass/components/_reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 119, ../sass/components/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 120, ../sass/components/_reset.scss */
ol {
  list-style-type: decimal;
}

/* line 123, ../sass/components/_reset.scss */
nav ul, nav li {
  margin: 0;
}

/* line 125, ../sass/components/_reset.scss */
small {
  font-size: 85%;
}

/* line 126, ../sass/components/_reset.scss */
strong, th {
  font-weight: bold;
}

/* line 128, ../sass/components/_reset.scss */
td, td img {
  vertical-align: top;
}

/* line 130, ../sass/components/_reset.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 131, ../sass/components/_reset.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 133, ../sass/components/_reset.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 143, ../sass/components/_reset.scss */
textarea {
  overflow: auto;
}

/* line 145, ../sass/components/_reset.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 149, ../sass/components/_reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 150, ../sass/components/_reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 151, ../sass/components/_reset.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 152, ../sass/components/_reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 155, ../sass/components/_reset.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 158, ../sass/components/_reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 162, ../sass/components/_reset.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 169, ../sass/components/_reset.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 175, ../sass/components/_reset.scss */
::-moz-selection {
  background: #1d78af;
  color: white;
  text-shadow: none;
}

/* line 176, ../sass/components/_reset.scss */
::selection {
  background: #1d78af;
  color: white;
  text-shadow: none;
}

/* line 179, ../sass/components/_reset.scss */
a:link {
  -webkit-tap-highlight-color: #1d78af;
}

/* line 183, ../sass/components/_reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 187, ../sass/components/_reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 195, ../sass/components/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 199, ../sass/components/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 201, ../sass/components/_reset.scss */
.clearfix {
  zoom: 1;
}

/* line 209, ../sass/components/_reset.scss */
.a11y-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 756, ../sass/components/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 7, ../sass/components/_layout.scss */
.ui-block:last-child,
.ui-block.last {
  margin-right: 0;
}

/* line 7, ../sass/partials/_reset.scss */
button {
  background: none;
  border: none;
  padding: 0;
  color: black;
  outline: none;
}

/* line 15, ../sass/partials/_reset.scss */
a {
  color: black;
  text-decoration: none;
}

/* entypo */
/* line 8, ../sass/partials/_type.scss */
.icon {
  font-family: 'entypo', sans-serif;
  font-size: 12px;
}

/* line 13, ../sass/partials/_type.scss */
body {
  font-family: 'NeueHaasGroteskText W01', Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 140%;
  color: black;
}

/* line 7, ../sass/partials/_header.scss */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 20px 20px 0;
  height: 100px;
  width: 100%;
  background: floralwhite;
}

/* line 17, ../sass/partials/_header.scss */
.hdr-logo {
  margin-bottom: 20px;
  font-size: 3.125em;
  line-height: 130%;
}

/* line 1, ../sass/partials/_nav.scss */
.header-main-nav {
  position: absolute;
  right: 20px;
}

/* line 6, ../sass/partials/_nav.scss */
.header-main-nav-item {
  display: inline-block;
  float: left;
}

/* line 11, ../sass/partials/_nav.scss */
.header-main-nav-link {
  display: block;
  padding: 20px;
  color: black;
  text-transform: uppercase;
  font-size: 0.75em;
}

/* line 19, ../sass/partials/_nav.scss */
.header-main-nav-link:hover {
  color: gray;
}

/* line 28, ../sass/partials/_nav.scss */
.header-sub-nav-list {
  position: fixed;
  background-color: floralwhite;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 1;
  height: 50px;
  display: none;
}

/* line 39, ../sass/partials/_nav.scss */
.header-sub-nav-item {
  display: inline-block;
  float: left;
  display: block;
  padding: 8px 10px 0;
  color: black;
  text-transform: uppercase;
  font-size: 0.75em;
}

/* line 7, ../sass/partials/_diary.scss */
.diary-article {
  margin-bottom: 40px;
}

/* line 11, ../sass/partials/_diary.scss */
.diary-lead-img {
  margin-bottom: 10px;
}

/* line 15, ../sass/partials/_diary.scss */
.diary-lead-nth-img {
  display: none;
}

/* line 19, ../sass/partials/_diary.scss */
.diary-map-mod {
  margin-bottom: 20px;
}

/* line 23, ../sass/partials/_diary.scss */
.diary-maps {
  position: relative;
  height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  /* line 23, ../sass/partials/_diary.scss */
  .diary-maps {
    height: auto;
    margin-bottom: 0px;
    *zoom: 1;
  }
  /* line 38, ../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .diary-maps:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 21, ../sass/components/_layout.scss */
  .diary-maps > .media-block {
    float: left;
    clear: none;
    margin-left: 0.625em;
    margin-bottom: 0.625em;
    width: calc((100% - (0.625em * (2 - 1)))/2);
  }
  /* line 27, ../sass/components/_layout.scss */
  .diary-maps > .media-block:nth-of-type(n) {
    clear: none;
    margin-left: 0.625em;
  }
  /* line 31, ../sass/components/_layout.scss */
  .diary-maps > .media-block:nth-of-type(2n+1) {
    clear: left;
    margin-left: 0;
  }
}

/* line 35, ../sass/partials/_diary.scss */
.diary-map-img {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  /* line 35, ../sass/partials/_diary.scss */
  .diary-map-img {
    position: static;
  }
}

/* line 43, ../sass/partials/_diary.scss */
.diary-map-controls {
  *zoom: 1;
}
/* line 38, ../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.diary-map-controls:after {
  content: "";
  display: table;
  clear: both;
}
/* line 21, ../sass/components/_layout.scss */
.diary-map-controls > .media-block {
  float: left;
  clear: none;
  margin-left: 0.625em;
  margin-bottom: 0.625em;
  width: calc((100% - (0.625em * (2 - 1)))/2);
}
/* line 27, ../sass/components/_layout.scss */
.diary-map-controls > .media-block:nth-of-type(n) {
  clear: none;
  margin-left: 0.625em;
}
/* line 31, ../sass/components/_layout.scss */
.diary-map-controls > .media-block:nth-of-type(2n+1) {
  clear: left;
  margin-left: 0;
}
@media (min-width: 600px) {
  /* line 43, ../sass/partials/_diary.scss */
  .diary-map-controls {
    display: none;
  }
}

/* line 50, ../sass/partials/_diary.scss */
.diary-map-toggle {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 20px;
  padding: 10px;
  width: 49%;
  background-color: gray;
}

/* line 58, ../sass/partials/_diary.scss */
.diary-post-header {
  margin-bottom: 20px;
}

/* line 62, ../sass/partials/_diary.scss */
.diary-post-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.25em;
}

/* line 68, ../sass/partials/_diary.scss */
.diary-dateline {
  text-align: center;
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 10px;
}

/* line 76, ../sass/partials/_diary.scss */
.diary-copy p {
  margin-bottom: 20px;
}

/* line 29, ../sass/site.scss */
body {
  background: white;
}

/* line 33, ../sass/site.scss */
.max-width {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 900px;
}
@media (min-width: 960px) {
  /* line 33, ../sass/site.scss */
  .max-width {
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 43, ../sass/site.scss */
.main-wrap {
  margin-top: 100px;
}

/* line 48, ../sass/site.scss */
img {
  width: 100%;
  max-width: 100%;
}
