// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

//	Diary							 			   

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

.diary-article {
	margin-bottom: 40px;
}

.diary-lead-img {
	margin-bottom: 5px;
}

.diary-map-img {
	width: 49%;
	margin-right: 0.5%;
	margin-bottom: 20px;
}

.diary-post-header {
	margin-bottom: 20px;
}

.diary-post-title {
	text-align: center;
	font-size: em(36);
	margin-bottom: 20px;
}

.diary-dateline {
	text-align: center;
	font-weight: normal;
	font-size: em(16);
}

.diary-copy {
	p {
		margin-bottom: 20px;
	}
}