// ============================================= 

//  Header            

// ============================================= 

.header {
	margin-bottom: 40px;
}

.hdr-logo {
	margin-bottom: 20px;
	font-size: em(50);
	line-height: 130%;
}