// ============================================= 

//  Base SCSS                

// ============================================= 


//  Import components              
// ============================================= 
@import "components/base";


//  Import partials              
// =============================================
@import "partials/reset";
@import "partials/type";
@import "partials/layout";
@import "partials/header";
@import "partials/nav";
@import "partials/footer";
@import "partials/diary";




//  Base styles            
// =============================================

body {
  background: $bground;
}

.max-width {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 900px;
  @media (min-width: $large) {
  	margin-left: auto;
  	margin-right: auto;
  }
}

.main-wrap {
	margin-top: 150px;
}


img {
	@include resp-img;
}