/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* !-- Paths ------------------------------------ */
/* !-- Fonts ------------------------------------ */
/* line 17, ../sass/components/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, ../sass/components/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

/* line 40, ../sass/components/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 46, ../sass/components/_reset.scss */
img {
  line-height: 0;
  vertical-align: middle;
}

/* line 48, ../sass/components/_reset.scss */
nav ul {
  list-style: none;
}

/* line 50, ../sass/components/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 53, ../sass/components/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 55, ../sass/components/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 57, ../sass/components/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 59, ../sass/components/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 61, ../sass/components/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 63, ../sass/components/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 66, ../sass/components/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 68, ../sass/components/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 70, ../sass/components/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 83, ../sass/components/_reset.scss */
body {
  -webkit-overflow-scrolling: touch;
}

/* line 85, ../sass/components/_reset.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 90, ../sass/components/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 98, ../sass/components/_reset.scss */
body, select, input, textarea {
  color: #444;
}

/* line 107, ../sass/components/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 110, ../sass/components/_reset.scss */
html {
  overflow-y: scroll;
}

/* line 114, ../sass/components/_reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 119, ../sass/components/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 120, ../sass/components/_reset.scss */
ol {
  list-style-type: decimal;
}

/* line 123, ../sass/components/_reset.scss */
nav ul, nav li {
  margin: 0;
}

/* line 125, ../sass/components/_reset.scss */
small {
  font-size: 85%;
}

/* line 126, ../sass/components/_reset.scss */
strong, th {
  font-weight: bold;
}

/* line 128, ../sass/components/_reset.scss */
td, td img {
  vertical-align: top;
}

/* line 130, ../sass/components/_reset.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 131, ../sass/components/_reset.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 133, ../sass/components/_reset.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 143, ../sass/components/_reset.scss */
textarea {
  overflow: auto;
}

/* line 145, ../sass/components/_reset.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 149, ../sass/components/_reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 150, ../sass/components/_reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 151, ../sass/components/_reset.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 152, ../sass/components/_reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 155, ../sass/components/_reset.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 158, ../sass/components/_reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 162, ../sass/components/_reset.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 169, ../sass/components/_reset.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 175, ../sass/components/_reset.scss */
::-moz-selection {
  background: #1d78af;
  color: white;
  text-shadow: none;
}

/* line 176, ../sass/components/_reset.scss */
::selection {
  background: #1d78af;
  color: white;
  text-shadow: none;
}

/* line 179, ../sass/components/_reset.scss */
a:link {
  -webkit-tap-highlight-color: #1d78af;
}

/* line 183, ../sass/components/_reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 187, ../sass/components/_reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 195, ../sass/components/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 199, ../sass/components/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 201, ../sass/components/_reset.scss */
.clearfix {
  zoom: 1;
}

/* line 209, ../sass/components/_reset.scss */
.a11y-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 756, ../sass/components/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 7, ../sass/components/_layout.scss */
.ui-block:last-child,
.ui-block.last {
  margin-right: 0;
}

/* line 7, ../sass/partials/_reset.scss */
button {
  background: none;
  border: none;
  padding: 0;
  color: white;
  outline: none;
}

/* line 15, ../sass/partials/_reset.scss */
a {
  color: white;
  text-decoration: none;
}

/* entypo */
/* line 8, ../sass/partials/_type.scss */
.icon {
  font-family: 'entypo', sans-serif;
  font-size: 12px;
}

/* line 13, ../sass/partials/_type.scss */
body {
  font-family: 'NeueHaasGroteskText W01', Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 140%;
  color: white;
}

@media (min-width: 600px) {
  /* line 7, ../sass/partials/_layout.scss */
  .grid {
    *zoom: 1;
  }
  /* line 38, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .grid:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 21, ../sass/components/_layout.scss */
  .grid > .cat {
    float: left;
    clear: none;
    margin-left: 2.5em;
    margin-bottom: 2.5em;
    width: calc((100% - (2.5em * (3 - 1)))/3);
  }
  /* line 27, ../sass/components/_layout.scss */
  .grid > .cat:nth-of-type(n) {
    clear: none;
    margin-left: 2.5em;
  }
  /* line 31, ../sass/components/_layout.scss */
  .grid > .cat:nth-of-type(3n+1) {
    clear: left;
    margin-left: 0;
  }
}
@media (min-width: 960px) {
  /* line 7, ../sass/partials/_layout.scss */
  .grid {
    *zoom: 1;
  }
  /* line 38, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .grid:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 21, ../sass/components/_layout.scss */
  .grid > .cat {
    float: left;
    clear: none;
    margin-left: 2.5em;
    margin-bottom: 2.5em;
    width: calc((100% - (2.5em * (4 - 1)))/4);
  }
  /* line 27, ../sass/components/_layout.scss */
  .grid > .cat:nth-of-type(n) {
    clear: none;
    margin-left: 2.5em;
  }
  /* line 31, ../sass/components/_layout.scss */
  .grid > .cat:nth-of-type(4n+1) {
    clear: left;
    margin-left: 0;
  }
}
@media (min-width: 1400px) {
  /* line 7, ../sass/partials/_layout.scss */
  .grid {
    *zoom: 1;
  }
  /* line 38, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .grid:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 21, ../sass/components/_layout.scss */
  .grid > .cat {
    float: left;
    clear: none;
    margin-left: 2.5em;
    margin-bottom: 2.5em;
    width: calc((100% - (2.5em * (5 - 1)))/5);
  }
  /* line 27, ../sass/components/_layout.scss */
  .grid > .cat:nth-of-type(n) {
    clear: none;
    margin-left: 2.5em;
  }
  /* line 31, ../sass/components/_layout.scss */
  .grid > .cat:nth-of-type(5n+1) {
    clear: left;
    margin-left: 0;
  }
}

/* line 7, ../sass/partials/_header.scss */
.header {
  margin-bottom: 50px;
}
@media (min-width: 600px) {
  /* line 7, ../sass/partials/_header.scss */
  .header {
    position: relative;
    margin-bottom: 60px;
  }
}

/* line 15, ../sass/partials/_header.scss */
.header-snark {
  left: 0;
  margin: -3px 0 30px -6.5%;
  padding: 0 0 4px 5.5%;
  border-bottom: 1px solid white;
}
@media (min-width: 600px) {
  /* line 15, ../sass/partials/_header.scss */
  .header-snark {
    position: absolute;
    bottom: 0;
    margin-bottom: -15px;
    width: 106.5%;
    color: transparent;
    pointer-events: none;
  }
}

/* line 30, ../sass/partials/_header.scss */
.contact-tools {
  position: absolute;
  top: 30px;
  right: 5.5%;
}
@media (min-width: 600px) {
  /* line 30, ../sass/partials/_header.scss */
  .contact-tools {
    bottom: -35px;
    top: auto;
    right: 0;
  }
}

/* line 41, ../sass/partials/_header.scss */
.button-big-contact {
  position: relative;
  z-index: 1;
}

@media (min-width: 600px) {
  /* line 46, ../sass/partials/_header.scss */
  .header-wrap {
    *zoom: 1;
  }
  /* line 38, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .header-wrap:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 21, ../sass/components/_layout.scss */
  .header-wrap > .header-link {
    float: left;
    clear: none;
    margin-left: 1.875em;
    margin-bottom: 1.875em;
    width: calc((100% - (1.875em * (3 - 1)))/3);
  }
  /* line 27, ../sass/components/_layout.scss */
  .header-wrap > .header-link:nth-of-type(n) {
    clear: none;
    margin-left: 1.875em;
  }
  /* line 31, ../sass/components/_layout.scss */
  .header-wrap > .header-link:nth-of-type(3n+1) {
    clear: left;
    margin-left: 0;
  }
}
@media (min-width: 960px) {
  /* line 46, ../sass/partials/_header.scss */
  .header-wrap {
    *zoom: 1;
  }
  /* line 38, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .header-wrap:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 21, ../sass/components/_layout.scss */
  .header-wrap > .header-link {
    float: left;
    clear: none;
    margin-left: 1.875em;
    margin-bottom: 1.875em;
    width: calc((100% - (1.875em * (4 - 1)))/4);
  }
  /* line 27, ../sass/components/_layout.scss */
  .header-wrap > .header-link:nth-of-type(n) {
    clear: none;
    margin-left: 1.875em;
  }
  /* line 31, ../sass/components/_layout.scss */
  .header-wrap > .header-link:nth-of-type(4n+1) {
    clear: left;
    margin-left: 0;
  }
}
@media (min-width: 1400px) {
  /* line 46, ../sass/partials/_header.scss */
  .header-wrap {
    *zoom: 1;
  }
  /* line 38, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .header-wrap:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 21, ../sass/components/_layout.scss */
  .header-wrap > .header-link {
    float: left;
    clear: none;
    margin-left: 1.875em;
    margin-bottom: 1.875em;
    width: calc((100% - (1.875em * (5 - 1)))/5);
  }
  /* line 27, ../sass/components/_layout.scss */
  .header-wrap > .header-link:nth-of-type(n) {
    clear: none;
    margin-left: 1.875em;
  }
  /* line 31, ../sass/components/_layout.scss */
  .header-wrap > .header-link:nth-of-type(5n+1) {
    clear: left;
    margin-left: 0;
  }
}

/* line 58, ../sass/partials/_header.scss */
.header-link {
  display: block;
}

/* line 62, ../sass/partials/_header.scss */
.header-img {
  margin-left: -5px;
  width: 100%;
}

/* line 67, ../sass/partials/_header.scss */
.header-title {
  display: block;
  font-family: 'NHaasGroteskTXW01-75Bd';
  text-rendering: optimizeLegibility;
}
/* line 71, ../sass/partials/_header.scss */
.header-title > div {
  line-height: 90%;
}
/* line 73, ../sass/partials/_header.scss */
.header-title > div:first-child {
  margin-left: -10px;
  line-height: 75%;
}

/* line 80, ../sass/partials/_header.scss */
.title-sup {
  font-size: 36px;
}

/* line 7, ../sass/partials/_category.scss */
.cat {
  position: relative;
}
/* line 9, ../sass/partials/_category.scss */
.cat.expanded > .cat-name {
  color: white;
}
@media (min-width: 600px) {
  /* line 7, ../sass/partials/_category.scss */
  .cat {
    display: table;
    height: 160px;
    border: 1px solid #7f7f7f;
  }
  /* line 16, ../sass/partials/_category.scss */
  .cat:hover {
    border-width: 0.3125em;
    border-color: white;
  }
}
@media (min-width: 1400px) {
  /* line 7, ../sass/partials/_category.scss */
  .cat {
    height: 200px;
  }
}

/* line 28, ../sass/partials/_category.scss */
.cat-expanded .cat-btn {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #7f7f7f;
}
/* line 32, ../sass/partials/_category.scss */
.cat-expanded .post-wrap {
  padding: 20px 0 20px 15px;
  border-width: 1px 0 1px 1px;
  border-color: white;
}
@media (min-width: 600px) {
  /* line 32, ../sass/partials/_category.scss */
  .cat-expanded .post-wrap {
    display: block;
  }
}
/* line 40, ../sass/partials/_category.scss */
.cat-expanded .post {
  display: block;
}

/* line 45, ../sass/partials/_category.scss */
.cat-name {
  margin-bottom: 10px;
  color: #7f7f7f;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.625em;
  font-family: 'TimesNewRomanW04-CondBo';
  cursor: pointer;
}
@media (min-width: 600px) {
  /* line 45, ../sass/partials/_category.scss */
  .cat-name {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-transform: none;
    font-size: 1em;
    font-family: 'NeueHaasGroteskText W01';
  }
  /* line 61, ../sass/partials/_category.scss */
  .cat-name:hover {
    padding-top: 0.625em;
    color: white;
    text-transform: uppercase;
    font-size: 1.625em;
    font-family: 'TimesNewRomanW04-CondBo';
  }
}

/* line 73, ../sass/partials/_category.scss */
.cat-btn {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  position: absolute;
  right: 0;
}
@media (min-width: 600px) {
  /* line 73, ../sass/partials/_category.scss */
  .cat-btn {
    display: none;
  }
}

/* line 83, ../sass/partials/_category.scss */
.cat-btn-outside {
  top: 3px;
}

/* line 87, ../sass/partials/_category.scss */
.cat-btn-inside {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  bottom: 2px;
}

/* line 92, ../sass/partials/_category.scss */
.post-wrap {
  margin-bottom: 40px;
  border: solid #7f7f7f;
  border-width: 0px 0 1px 0px;
  padding: 0;
}
@media (min-width: 600px) {
  /* line 92, ../sass/partials/_category.scss */
  .post-wrap {
    display: none;
  }
}

/* line 102, ../sass/partials/_category.scss */
.post {
  position: relative;
  display: none;
}

/* line 107, ../sass/partials/_category.scss */
.img-top-wrap {
  *zoom: 1;
  position: relative;
  margin-bottom: 15px;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.img-top-wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 113, ../sass/partials/_category.scss */
.post-txt-client {
  position: absolute;
  top: -1px;
  padding-bottom: 2px;
  width: 100%;
  border-bottom: 1px solid white;
}

/* line 121, ../sass/partials/_category.scss */
.post-txt-index {
  position: absolute;
  bottom: -1px;
  display: inline;
}

/* line 127, ../sass/partials/_category.scss */
.post-nav-mod {
  float: right;
}

/* line 131, ../sass/partials/_category.scss */
.button-big-post {
  position: relative;
  z-index: 1;
}

/* line 136, ../sass/partials/_category.scss */
.post-img {
  margin-bottom: 15px;
  width: 100%;
}

/* line 13, ../sass/partials/_footer.scss */
.footer-actions-wrap {
  position: relative;
  margin-bottom: 10px;
  padding: 20px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: none;
}
@media (min-width: 600px) {
  /* line 13, ../sass/partials/_footer.scss */
  .footer-actions-wrap {
    display: block;
  }
}

/* line 25, ../sass/partials/_footer.scss */
.prev-category {
  position: absolute;
  left: 0;
}

/* line 30, ../sass/partials/_footer.scss */
.next-category {
  position: absolute;
  right: 0;
}

/* line 35, ../sass/partials/_footer.scss */
.about-txt {
  text-align: left;
  border-top: 1px solid white;
  padding-top: 10px;
}
@media (min-width: 600px) {
  /* line 35, ../sass/partials/_footer.scss */
  .about-txt {
    border: none;
  }
}

/* line 44, ../sass/partials/_footer.scss */
.filter {
  position: absolute;
  right: 0;
  left: 0;
}

/* line 50, ../sass/partials/_footer.scss */
.footer-snark {
  position: absolute;
  left: 0;
}

/* line 55, ../sass/partials/_footer.scss */
.email-address {
  position: absolute;
  right: 0;
}

/* line 27, ../sass/site.scss */
body {
  margin: 30px 5.5% 40px;
  background: black;
}

/* line 32, ../sass/site.scss */
.button-big {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-left: 5px;
  width: 30px;
  height: 40px;
  border: 1px solid white;
  background-color: black;
}
